@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.winner-title {
    background-color: #0099ff;
    color: #fff;
    height: 74px;
    width: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px 12px 0 0;
    font-size: 33px;
   

}

.scoreboard-box {
    width: 60%;
    height: 148px;
    background-color: #0099ff;
    border-radius: 17px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-name {
   color: #fff;
   font-size: 38px;
   font-weight: bold;

}

.score {
    background-color: #d8f1ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 131px;
    font-size: 104px;
    font-weight: 900;
    color:#0099ff;
    border-radius: 17px;


}

.score-separator {
   color: #d8f1ff;
   font-size:58px;

}

.battle-field {
    margin-top: 2%;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    gap:16px;

}

.button-move-wraper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}

.button-move {
    height: 80px;
    width: 220px;
    background-color: #0099ff;
    color: #d8f1ff;
    font-size: 44px;
    border-radius: 8px;
    border: 2px solid #0099ff;
    cursor: pointer;
    transition-duration: 300ms;

}

.button-move:hover {
    background-color: #d8f1ff;
    color: #0099ff;
}

.config-box {
    display: flex;
    gap: 100px;
    margin-top: 22px;

}

.board {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    background-color: #0099ff;
    border-radius: 17px;
   
}

.move-box {
    width: 464px;
    height: 345px;
    background-color: #d8f1ff;
    border-radius: 17px;
}

.move-box-separator {
    font-size: 104px;
    color: #d8f1ff;
    font-weight: 900;

}

@media screen and (max-width: 720px) {
   .body {
    padding: 1%;
    justify-content: space-evenly;
   }

    .player-name {
    display: none;
   }

   .winner-title {
    width: 90%;
   }
   .scoreboard-box {
    width: 100%;
   }
   .config-box {
    gap:10;
    flex-direction: column;
   }
   .battle-field {
    flex-direction: column;
   }

   .button-move-wraper {
    flex-direction: row;
    height: unset;
   }

   .button-move {
    font-size: 25px;
    width: 115px;
   }

   .box-move-separator {
    font-size: 25px;
    
   }

   .board {
    padding: 10px;
   }

   .move-box {
    width: 40%;
   }
}





